<div class="container">

<h1>My Trips</h1>

<div class="index-cards" style="display: flex; flex-wrap: wrap; flex-direction: row;">
  <% @trips.each do |trip| %>

  <div class="card">
    <% if trip.photo.present? %>
    <%= cl_image_tag trip.photo, height: 250, width: 250 %>
    <% else %>

    <% end %>
    <div class="card-body">
    <h5 class="card-title"><%= link_to trip.name, trip %></h5>
      <p class="card-text"><%= trip.destination %></p>
    </div>

  </div>
  <% end %>
</div>

</div>
