<div class="container">

<h1 class="header-below-navbar">My Trips</h1>

<div class="index-cards" ">
  <% @trips.each do |trip| %>

<%= link_to trip_path(trip) do %>

  <div class="card-index">
    <% if trip.photo.present? %>
    <%= cl_image_tag trip.photo, class: "img-card" %>
    <% else %>

    <% end %>
    <div class="card-body">
    <h5 class="card-title"><%= link_to trip.name, trip %></h5>
      <p class="card-text"><%= trip.destination %></p>
    </div>

  </div>
  <% end %><% end %>
</div>

</div>





<!-- <div class="index-cards" style="display: flex; flex-wrap: wrap; flex-direction: row;"> -->
