// Specific CSS for your home-page
#text{
  display: none;
}
body > div.banner.slider > div.head-container.better-form-search > form > div > label {
  display: none;
}
body{
  background-color: #F4F7FB;
}

.recs {
  font-weight: regular;
  padding-top: 48px;
  font-size: 28px;
  font-weight: normal;
}
