<div class="container">

<h1>My Bookings</h1>

<div class="index-cards" style="display: flex; flex-wrap: wrap; flex-direction: row;">
  <% @bookings.each do |booking| %>

  <div class="card">
    <% if booking.trip.photo.present? %>
    <%= cl_image_tag booking.trip.photo, height: 250, width: 250 %>
    <% else %>

    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to booking.trip.name, booking %></h5>
      <p class="card-text"><%= booking.trip.destination %></p>
      <% string = "#{booking.start_date} to #{booking.end_date}"%>
      <p class="card-text"> <%= string %></p>

    </div>

  </div>
  <% end %>
</div>

</div>
