<div class="container better-form">

<h2>Booking Form</h2>

<%= simple_form_for [@booking], url: trip_bookings_url, method: :create do |f| %>

  <div class="form-inputs">
    <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%#= f.input :start_date,
                required: true,
                autofocus: true %>
    <%#= f.input :end_date,
                required: true %>
    <button type="button" class="btn btn-secondary">Write a review</button>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Book", name: "booking_id" , value: @booking.id, class: "btn btn-flat" %>
  </div>
<% end %>

</div>
