.better-form{
  width: 50%;
  margin: 0 auto;
  top: 100px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 30px -8px rgba(45,45,45,0.7);
}
.form-inputs{
  width: 70%;
  margin: 0 auto;
}
.better-form h2{
  text-align: center;
  padding: 34px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.better-form  .btn{
  left: -15px;
}
.better-form a {

  margin: 0 auto;
  position: relative;
  bottom: 20px ;

}
.better-form-search {
  width: 30%;
  margin: 0 auto;
  top: 16px;
  position: relative;
  border-radius: 3px;

}
.better-form-search h1{
  text-align: -webkit-auto;
  padding: 8px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 90px;
  font-weight: bold;

}
.better-form-search .btn-flat{
  color: white;
  position: relative;
  top: 42px;
  width: 200px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  height: 48px;
  font-size: 22px;
  padding: 6px;
}

// media queries guys!

@media screen and (max-width: 992px) {
  .better-form {
    width: 80%;
  }
}
h2{
  text-align: center;
  padding: 34px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .better-form {
    width: 100%;
  }
}
