.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h6 {
    text-align: left;
  }
}
#map{
  height: 90vh;
    width: 40%;
    position: fixed;
    top: 10.7%;
    right: 0;
}
