.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  height: 36px;
  margin-top: -3px;
}

.far {
  font-size: 30px;
  color: #191919;
}

.header-below-navbar {
  margin-top: 1.5em;
}
