.show-card-container{
  height: 70vh;
  padding-top: 14%;

}
.card-trip {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-trip img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-trip h2 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  margin: 15px;
  text-align: center;
}
.card-trip h3 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 14px;
  text-align: left;
  margin: 15px;
}
.card-trip h4,i {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;
  // text-align: center;

}

.card-trip p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-trip .booking-card-infos {
  display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 10% auto;
}

.card-trip-right{
  overflow: hidden;
  height: 100%;
  background: white;
  flex-grow: 1;
}

// index cards
.index-cards{
  width: 90%;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-card{

  min-height: 200px;
  max-height:200px;
  width: 100%;
}
.card-index{
  flex-grow: 1;
    width: 20%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 3px;
}
.index-index:hover{
  width: 30%;
  transition: 0.3s;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .card-index{
  flex-grow: 1;
    width: 50%;
    margin: 10px auto;
  }
  .index-cards{
    width: 100;
    margin: 10px auto;
  }

}


@media screen and (max-width: 600px) {
.card-index{
  flex-grow: 1;
    width: 90%;
    margin: 10px auto;

  }
}
